{% extends 'index.html' %}

{% block body %}
<div class="container" id="splash-screen">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-12 text-center">
            <img src="/static/images/leaf_logo.png" alt="Leaf Logo" class="img-fluid mb-4">
            <h2 class="mb-4">About Leaf Watch</h2>
            <p>
                Leaf Watch is a project aimed at identifying beneficial Ayurvedic plants in Kerala using machine learning.
                Our objectives include developing a highly accurate machine learning model, deploying it in the cloud for
                regular updates, and creating an Android application for leaf identification.
            </p>
        </div>
    </div>
</div>
{% endblock %}